.wrapper {
  display: grid;
  grid-template-columns: auto 100px 1fr;
  grid-template-rows: 40px 1fr;
  grid-template-areas:
  "A A A"
  "B . C";
  margin-top: 3rem;
}

p {
  grid-area: A;
  margin-left: 3rem;
  font-size: 1.2rem;
  letter-spacing: .2rem;
  color: gray;
}

app-version-one-chart {
  grid-area: B;
}

app-version-one-info {
  grid-area: C;
  justify-self: left;
}
