
<div class="wrapper">
  <p>Version six (dark theme)</p>
  <app-version-seven-chart (didZoom)="didZoom($event)"
                          (didSelectPoint)="didSelectChartPoint($event)"
                          (didHoverPoint)="didHoverChartPoint($event)"
                          [selectedPoint]="selectedGridPoint"></app-version-seven-chart>
  <app-version-seven-grid [activeZoom]="activeZoom"
                          [selectedPoint]="selectedChartPoint"
                          [hoverPoint]="hoverChartPoint"
                          (didSelectPoint)="didSelectGridPoint($event)"></app-version-seven-grid>
</div>


