.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;

}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(214, 214, 214);

  .header {
    font-size: 1.2rem;
  }

  a {
    letter-spacing: .2rem;
    margin: 0 1rem;
    text-decoration: none;
    color: black;
    font-size: .9rem;
  }
}
