
.dark-theme {
  background-color: #302e2e;
  height: 100vh;
}

.light-theme {
  background-color: white;
  height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(47, 47, 47);

  .header {
    font-size: 1.2rem;
  }

  a {
    letter-spacing: .2rem;
    margin: 0 1rem;
    text-decoration: none;
    color: white;
    font-size: .9rem;
  }
}
