
@mixin dark {
  background-color: rgb(47, 47, 47);

  .nav {
    background-color: #222222;
  }
  a {
    color: white;
  }
}

@mixin light {
  background-color: white;

  .nav {
    background-color:  rgb(216, 216, 216);
  }

  a {
    color: black;
  }
}


.dark-theme {
  @include dark();
  height: 100vh;
}

.light-theme {
  @include light();
  height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .header {
    font-size: 1.2rem;
  }

  a {
    letter-spacing: .2rem;
    margin: 0 1rem;
    text-decoration: none;
    font-size: .9rem;
  }
}

